@model SmartOpsProject.Models.Service

@{
    ViewData["Title"] = "Διαγραφή Υπηρεσίας";
}

<h1>Διαγραφή Υπηρεσίας</h1>

<h4>Είσαι σίγουρος ότι θέλεις να διαγράψεις αυτή την υπηρεσία;</h4>

<div>
    <dl class="row">
        <dt class="col-sm-2">Κωδικός</dt>
        <dd class="col-sm-10">@Model.ServiceCode</dd>

        <dt class="col-sm-2">Περιγραφή</dt>
        <dd class="col-sm-10">@Model.Description</dd>
    </dl>
</div>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Διαγραφή" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Ακύρωση</a>
</form>
